[package]
name = "userspace-xdp"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4"
tokio = { version = "1", features = ["full"] }
axum = "0.6.20"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
regex = "1.10"
